---
layout: default
---
{% include base.html %}
    <div class="row no-gutter home">
        <div class="breadcrumbs">
            <p><a href="{{ base }}">HOME</a>  /  {{ page.title }}</p>
            
        </div>
    </div>
    <div class="row no-gutter post">
        <header class="post__header {% if page.feature-img %}feature-img{% endif %}" {% if page.feature-img %}style="background-image: url('/blog{{ page.feature-img }}')"{% endif %}>
            <div class="post__header--inner">
                <h1 class="post__title">{{ page.title }}</h1>
                <p class="post__meta">{{ page.date | date: "%B %-d, %Y" }}{% if page.tags %} |{% for tag in page.tags %} {{ tag }}{% endfor %}{% endif %}{% if page.author %} | {{ page.author }}{% endif %}</p>
        </header>
    </div>
    <div class="row">
        <article class="{% if page.feature-img %}feature-image{% endif %} col-md-10 col-md-offset-1">
        
            <section class="post-content">
                {{ content }}
            </section>

        </article>
        <!-- Disqus -->
        {% if site.theme.disqus_shortname %}
        <div class="comments col-md-10 col-md-offset-1">
            {% include disqus.html %}
        </div>
        {% endif %}
    </div>
