// =====================================================================================
// POSTS
// =====================================================================================
.post {

}

.post__sample-wrap {
	padding: 0;
}

.post__sample {
	position: relative;
	background: grey;
	overflow: hidden;

	// test background
	&:first-child {
		background: darken(grey, 10%);
	}
}

.post__sample--wrap {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 5;
	padding: 0 20px;
	text-align: center;
	transform: translate(0, -50%);
	transition: all 0.3s ease;
}

.post__sample--excerpt {
	transition: all 0.3s ease;
}

.post__read-more {
	$triangleSize: 70px;
	width: $triangleSize;
	height: $triangleSize * 0.866;
	position: absolute;
	bottom: -60px;
	left: 50%;
	z-index: 5;
	margin-left: -20px;
	border-bottom: solid 1px $white;
	color: $white;
	opacity: 0;
	text-align: center;
	font-weight: 200;
	font-size: 12px;
	line-height: $triangleSize + 20;
	letter-spacing: 2px;
	transition: all 0.3s ease-out;

	&::before, &::after {
		content: '';
		width: 100%;
		height: 1px;
		position: absolute;
		top: 0;
		background: $white;
		transition: all 0.3s ease;
	}

	&::before {
		left: 50%;
		transform-origin: left center;
	}

	&::after {
		right: 50%;
		transform-origin: right center;
	}
}

.post__sample--img {
	width: 110%;
	height: 110%;
	position: absolute;
	top: -5%;
	left: -5%;
	z-index: 1;
	transition: all 0.3s ease;
}

.post__sample--gradient {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 2;
	opacity: 0.7;
	transition: all 0.3s ease;
}

.post-link {
	width: 100%;
	display: block;
	padding-top: 100%; // responsive height

	&:hover {
		.post__sample--wrap {
			top: 40%;
		}

		.post__sample--excerpt {
			transform: scale(0.8);
			opacity: 0.5;
		}

		.post__read-more {
			bottom: 10%;
			opacity: 1;

			&::before {
				transform: rotate(60deg);
			}

			&::after {
				transform: rotate(-60deg);
			}
		}

		.post__sample--img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}

		.post__sample--gradient {
			opacity: 0.9;
		}
	}
}

