.highlight {
	// COLOUR VARS (monokai)
	// $color1: #49483e; // dark grey
	// $color2: #75715e; // browny grey
	// $color3: #66d9ef; // turquoise
	// $color4: #ae81ff; // purple
	// $color5: #f8f8f2; // spring wood (whiteish)
	// $color6: #f92672; // razmataz (pink)
	// $color7: #e6db74; // straw
	// $color8: #a6e22e; // yello green

	// COLOUR VARS (custom)
	$color1: #49483e; // dark grey
	$color2: #75715e; // browny grey
	$color3: #66d9ef; // turquoise
	$color4: $purple; // purple
	$color5: #f8f8f2; // spring wood (whiteish)
	$color6: $red; // razmataz (pink)
	$color7: #e6db74; // straw
	$color8: $blue; // yellow green

	// THE WRAPPER
	pre {
		display: block;
		background-color: #EEE;
		border: none;
		border-radius: 0;
	}

	// ACTUAL CODE ELEMENTS
	.ge  { font-style: italic; } // Generic.Emph
	.gs  { font-weight: bold; } // Generic.Strong
	.hll { background-color: $color1; }
	.err { color: #960050; background-color: #1e0010; } // Error
	.c   { color: $color2; } // Comment
	.k   { color: $color3; } // Keyword
	.l   { color: $color4; } // Literal
	.n	 { color: $color5; } // Name
	.o   { color: $color6; } // Operator
	.p   { color: $color5; } // Punctuation
	.cm  { color: $color2; } // Comment.Multiline
	.cp  { color: $color2; } // Comment.Preproc
	.c1  { color: $color2; } // Comment.Single
	.cs  { color: $color2; } // Comment.Special
	.kc  { color: $color3; } // Keyword.Constant
	.kd  { color: $color3; } // Keyword.Declaration
	.kn  { color: $color6; } // Keyword.Namespace
	.kp  { color: $color3; } // Keyword.Pseudo
	.kr  { color: $color3; } // Keyword.Reserved
	.kt  { color: $color3; } // Keyword.Type
	.ld  { color: $color7; } // Literal.Date
	.m   { color: $color4; } // Literal.Number
	.s   { color: $color7; } // Literal.String
	.na  { color: $color8; } // Name.Attribute
	.nb  { color: $color5; } // Name.Builtin
	.nc  { color: $color8; } // Name.Class
	.no  { color: $color3; } // Name.Constant
	.nd  { color: $color8; } // Name.Decorator
	.ni  { color: $color5; } // Name.Entity
	.ne  { color: $color8; } // Name.Exception
	.nf  { color: $color8; } // Name.Function
	.nl  { color: $color5; } // Name.Label
	.nn  { color: $color5; } // Name.Namespace
	.nx  { color: $color8; } // Name.Other
	.py  { color: $color5; } // Name.Property
	.nt  { color: $color6; } // Name.Tag
	.nv  { color: $color5; } // Name.Variable
	.ow  { color: $color6; } // Operator.Word
	.w   { color: $color5; } // Text.Whitespace
	.mf  { color: $color4; } // Literal.Number.Float
	.mh  { color: $color4; } // Literal.Number.Hex
	.mi  { color: $color4; } // Literal.Number.Integer
	.mo  { color: $color4; } // Literal.Number.Oct
	.sb  { color: $color7; } // Literal.String.Backtick
	.sc  { color: $color7; } // Literal.String.Char
	.sd  { color: $color7; } // Literal.String.Doc
	.s2  { color: $color7; } // Literal.String.Double
	.se  { color: $color4; } // Literal.String.Escape
	.sh  { color: $color7; } // Literal.String.Heredoc
	.si  { color: $color7; } // Literal.String.Interpol
	.sx  { color: $color7; } // Literal.String.Other
	.sr  { color: $color7; } // Literal.String.Regex
	.s1  { color: $color7; } // Literal.String.Single
	.ss  { color: $color7; } // Literal.String.Symbol
	.bp  { color: $color5; } // Name.Builtin.Pseudo
	.vc  { color: $color5; } // Name.Variable.Class
	.vg  { color: $color5; } // Name.Variable.Global
	.vi  { color: $color5; } // Name.Variable.Instance
	.il  { color: $color4; } // Literal.Number.Integer.Long

	.gh  { } // Generic Heading & Diff Header
	.gu  { color: $color2; } // Generic.Subheading & Diff Unified/Comment?
	.gd  { color: $color6; } // Generic.Deleted & Diff Deleted
	.gi  { color: $color8; } // Generic.Inserted & Diff Inserted
}