// =====================================================================================
// SITE NAV (sidebar)
// =====================================================================================
$triangleborder: 40px;

.sitenav {
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	background: $purple;
	color: $white;
	overflow: auto;

	a {
		color: $white;
	}
}

.sitenav__footer {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
}


// =====================================================================================
// TRIANGLE
// =====================================================================================
.triangle {
	width: $triangleborder * 2;
	height: ($triangleborder * 2) * 0.866;
	display: block;
	position: relative;
	margin: 0 auto;
	margin-top: 40px;

	&::before, &::after {
		content: "";
		width: 0; 
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
	}

	&::before {
		border-bottom: #{($triangleborder*2) * 0.866} solid rgba($red, 0.7);
		border-left: $triangleborder solid transparent;
		border-right: $triangleborder solid transparent;
		transform: scale(0.5) translateY(50%);
	}

	&::after {
		border-left: $triangleborder solid transparent;
		border-right: $triangleborder solid transparent;
		border-top: #{($triangleborder*2) * 0.866} solid rgba($blue, 0.7);
	}
}


// =====================================================================================
// NAVIGATIONS
// =====================================================================================
.nav__tags {

}

.nav__pages {
	
}

.nav__tags {
	ul {
		padding: 0;
	}
	li {
		width: 100%;
		list-style: none;
	}
}

// shame...
.page-link {
	width: 100%;
	display: block;
	padding: 0 15px;
	font-size: 18px;
  	line-height: 46px;
  	letter-spacing: 3px;

  	&:hover {
  		text-decoration: none;
  		background: lighten($purple, 5%);
  	}
}