
<div class="post-header" style="background-image: url({{ page.background }});">
	<div class="post-header-content">
		<h1 class="post-title">{{ page.title }}</h1>
	</div>
	<span class="gradient"></span>
</div>

<section class="post-content">
	{{ section1 }}
</section>

<section class="post-content content-invert">
	<h2>Presently...</h2>

	{{ section2 }}
</section>

<section class="toolbox content-alt">
	<h2>Toolbox</h2>

	<ul class="tools">
		<li class="icon">
			<span class="word">Photoshop</span>
			<svg><use xlink:href="#photoshop"></use></svg>
		</li>
		<li class="icon">
			<span class="word">Illustrator</span>
			<svg><use xlink:href="#illustrator"></use></svg>
		</li>
		<li class="icon">
			<span class="word">HTML5</span>
			<svg><use xlink:href="#html5"></use></svg>
		</li>
		<li class="icon">
			<span class="word">CSS3</span>
			<svg><use xlink:href="#css3"></use></svg>
		</li>
		<li class="icon">
			<span class="word">Javascript</span>
			<svg><use xlink:href="#javascript"></use></svg>
		</li>
		<li class="icon">
			<span class="word">jQuery</span>
			<svg><use xlink:href="#jquery"></use></svg>
		</li>
		<li class="icon">
			<span class="word">SASS</span>
			<svg><use xlink:href="#sass"></use></svg>
		</li>
		<li class="icon">
			<span class="word">Grunt</span>
			<svg><use xlink:href="#grunt"></use></svg>
		</li>
		<li class="icon">
			<span class="word">Github</span>
			<svg><use xlink:href="#githubfull"></use></svg>
		</li>
		<li class="icon">
			<span class="word">WordPress</span>
			<svg><use xlink:href="#wordpress"></use></svg>
		</li>
	</ul>

	<h2>Bonus</h2>
	<ul class="bonus">
		<li>PHP</li>
		<li>ActionScript 3</li>
		<li>mySQL</li>
		<li>After Effects</li>
		<li>Premiere</li>
		<li>Flash</li>
	</ul>
</section>

<section class="post-content">
	<h2>Welcome to the Dangerzone!</h2>

	{{ section3 }}
</section>

<div class="social">
	<ul>
		<li class="icon behance"><a target="_blank" href="https://www.behance.net/tomchewitt"><span class="word">Behance</span><svg><use xlink:href="#behance"></use></svg></a></li>
		<li class="icon codepen"><a target="_blank" href="http://codepen.io/tomchewitt"><span class="word">Codepen</span><svg><use xlink:href="#codepen"></use></svg></a></li>
		<li class="icon github"><a target="_blank" href="https://github.com/tomchewitt"><span class="word">GitHub</span><svg><use xlink:href="#github"></use></svg></a></li>
	</ul>
</div>


