
<div class="post-header" style="background-image: url({{ page.background }});">
	<div class="post-header-content">
		<h1 class="post-title">{{ page.title }}</h1>
	</div>
	<span class="gradient"></span>
</div>

<section class="post-content">
	{{ intro }}
</section>

<section class="post-content content-invert">
	<h2>Presently...</h2>

	{{ presently }}
</section>

<section class="learning content-alt">
	<h2>Currently Learning...</h2>
	<ul>
		<li><a href="#">Node.js</a></li>
		<li><a href="#">Swift</a></li>
		<li><a href="#">Unity</a></li>
	</ul>

	<h2>Currently Playing...</h2>
	<ul>
		<li><a href="#">FFX</a></li>
		<li><a href="#">FFX</a></li>
		<li><a href="#">FFX</a></li>
	</ul>
</section>

<section class="post-content">
	<h2>Welcome to the Dangerzone!</h2>

	{{ other }}
</section>

<section class="learning content-alt">
	<h2>Great Companies I've worked with</h2>
	<ul>
		<li>Square Enix</li>
		<li>Comparethemarket</li>
		<li>Climax Studios</li>
		<li>GAME</li>
	</ul>
</section>
