		<section class="col-md-7 col-md-offset-1 footer">
			<footer>
				&copy;2015 Tom Hewitt. All content was created by Tom Hewitt unless otherwise stated.
			</footer>
		</section>

        <!-- SCRIPTS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.data.partials.js.jquery | prepend: site.github.url }}"><\/script>')</script>
        <script src="{{ site.data.partials.js.bundle | prepend: site.github.url }}"></script> 
        <!-- <script src="/asset/src/js/bundle.js"></script>  -->

    </body>
</html>
