
        <ul class="post__sample-wrap">
        {% for post in paginator.posts %}
            <li>
	            <header class="post__sample--header">
	                <h1>{{ post.title }}</h1>
	                <p class="h5">{{ post.date | date: "%-d/%-m/%Y" }}</p>
	            </header>

                <div class="post__sample--excerpt">
                    <p>{{ post.excerpt | strip_html | truncatewords: 25 }}</p>
                </div>
            </li>
        {% endfor %}
        </ul>

        {% if paginator.total_pages > 1 %}
            <div class="pagination">
	            {% if paginator.previous_page %}
	            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >PREV</a>
	            {% endif %}

	            {% if paginator.next_page %}
	            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >NEXT</a>
	            {% endif %}
            </div>
        {% endif %}
