			<li id="{{post.uid}}" class="post-sample">
            	<a href="{{post.url}}">
            		<article>
            			<header class="post-sample-header">
			                <h2>{{ post.title }}</h2>
			                <p class="date">{{ post.date | date: "%-d / %-m / %Y" }}</p>
			            </header>

			            <span class="post-sample-line"></span>

		                <section class="post-sample-excerpt">
		                    <p class="excerpt">{{ post.excerpt | strip_html | truncatewords: 22 }}</p>
		                </section>

						<span class="post-sample-img" style="background-image: url({{post.square}});"></span>
		                <span class="gradient"></span>
            		</article>
	            </a>
            </li>
