	<section class="sidebar">
		<header class="logo-wrap">
			<a href="/">
				<span class="triangle"></span>
				<span class="site-title">TOM HEWITT</span>
			</a>
		</header>
		<nav class="main-nav">
			<ul>
				<li><a href="/about/">About</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Design</a></li>
				<li><a href="#">Develop</a></li>
				<li><a href="#">Opinion</a></li>
			</ul>
		</nav>

		<nav class="social-nav">
			<ul>
				<li><a target="_blank" href="http://twitter.com/tomchewitt"><svg><use xlink:href="#twitter"></use></svg></a></li>
				<li><a target="_blank" href="https://github.com/tomchewitt"><svg><use xlink:href="#github"></use></svg></a></li>
				<li><a target="_blank" href="http://codepen.io/tomchewitt"><svg><use xlink:href="#codepen"></use></svg></a></li>
			</ul>
		</nav>
	</section>
