	<section class="sidebar">
		<header class="logo-wrap">
			<a href="/">
				<span class="triangle"></span>
				<h1 class="site-title">TOM HEWITT</h1>
			</a>
		</header>
		<nav class="main-nav">
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Design</a></li>
				<li><a href="#">Develop</a></li>
				<li><a href="#">Opinion</a></li>
			</ul>
		</nav>

		<nav class="social-nav">
			<ul>
				<li><a href="#"><svg class="logo-part-one"><use xlink:href="#linkedin"></use></svg></a></li>
				<li><a href="#"><svg class="logo-part-one"><use xlink:href="#twitter"></use></svg></a></li>
				<li><a href="#"><svg class="logo-part-one"><use xlink:href="#github"></use></svg></a></li>
				<li><a href="#"><svg class="logo-part-one"><use xlink:href="#codepen"></use></svg></a></li>
			</ul>
		</nav>
	</section>
