// =====================================================================================
// COLOR IS AWESOME
// =====================================================================================

// BASIC COLOURS
$white: white;
$black: black;

$purple: #2E3042;
$blue: #188EB0;
$red: #E87A82;