// MAIN WRAPPER
section.content {
	width: 80%;
	margin-left: 20%;
	position: relative;
	z-index: 1;
}


.post-header {
	width: 100%;
	height: 440px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;

	&::before, &::after {
		width: 100%;
		height: 40px;
		position: absolute;
		bottom: 0;
		z-index: 2;
		content: "";
		background: $white;
	}
	&::before {
		left: 0;
		transform: translateX(-51.4%) skew(225deg);
	}
	&::after {
		right: 0;
		transform: translateX(51.4%) skew(-225deg);
	}
}

.post-title {
	font-size: 36px;
	line-height: 40px;
	margin-bottom: 15px;
	color: $white;
}

.post-header-content {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	transform: translate(-50%, -50%);
	text-align: center;
	color: $white;

	.tag, .date {
		display: inline-block;
	}

	.tag-wrap {
		width: 100%;
	}

	.tag {
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 2px;
		padding: 4px 10px;
		border: solid 1px $white;
		margin: 5px 3px;
	}

	.date {
		margin-top: 18px;
	}
}

.post-header-gradient {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: rgba($blue, 0.7);
}


.post-content {
	width: 60%;
	margin: 0 auto;
	padding-top: 35px;
	text-align: left;
	// background: grey; // testing
}

.post-media {
	width: 166.66666666666666%;
	background: $black;
	margin-left: -33.3333333333333%;

	* {
		width: 100%;
	}
}

.w50 {
	width: 50%;
	float: left;
}

.w33 {
	width: 33.3333333333333333333%;
	float: left;
}

