//
section.content {
	width: 58%;
	margin-left: 31%;
	background: $lightestgrey;
}



#anniversary {
	$color1: #D9F0F6;
	$color2: #B3646F;
	.post__sample--gradient {
		background: $color1;
		background-image: linear-gradient(to top right, $color1 10%, $color2 100%);
	}
}
