/**
 * FONTS
 *
 */


// FONT VARS
$header-font: 'Lato', sans-serif;
$body-font: 'Source Sans Pro', sans-serif;
$header-font-bold: "", sans-serif;
$header-font-light: "", sans-serif;


// FONT STYLES
 body, html {
    text-align: left;
}

body {
    font-family: $body-font;
    font-size: 16px;
    line-height: 20px;
    color: $newpurple;
    margin: 0 auto;
}

h1,
h2,
h3,
nav {
   font-family: $header-font;
   font-weight: 900;
   font-style: italic;
   color: $purple;
   font-size: 30px;
   line-height: 40px;
   letter-spacing: -0.5px;
}

h1 {
	font-size: 46px;
	line-height: 40px;

	.sub {
		font-family: $body-font;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		padding-bottom: 20px;
		letter-spacing: 2px;
		text-transform: uppercase;
		display: inline-block;
		border-bottom: dotted 1px rgba($white, 0.7);
	}
}
h2 {
	font-size: 34px;
	line-height: 40px;
}
h3 {
	font-size: 30px;
	line-height: 36px;
}


.strong {
	font-family: $header-font-bold;
}

p {
	font-size: 1.1em;
	line-height: 1.8em;
	letter-spacing: 0.02em;
	padding-bottom: 20px;
}

.post-content {
	a {
		color: $red;
		text-decoration: none;
		border-bottom: dotted 1px $red;
		transition: all 0.3s ease;

		&:hover {
			color: darken($red, 10%);
			border-bottom: solid 1px darken($red, 10%);
		}
	}
}


.post-content,
.content-alt {
	h1,
	h2,
	h3,
	h4 {
		border-bottom: dotted 1px lighten($purple, 45%);
		padding-bottom: 25px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
