/**
 * FONTS
 *
 */

// AVAILABLE FONTS



// FONT VARS
$header-font: 'Lato', sans-serif;
$body-font: 'Source Sans Pro', sans-serif;
$header-font-bold: "", sans-serif;
$header-font-light: "", sans-serif;


// FONT STYLES
 body, html {
    text-align: left;
}

body {
    font-family: $body-font;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    margin: 0 auto;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.btn, nav {
   font-family: $header-font;
   font-weight: 900;
   font-style: italic;
   color: $black;
}

.strong {
	font-family: $header-font-bold;
}

p {
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 20px;
}
