section.sidebar {
	width: 20%;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background: $purple;
	color: $white;
	overflow: auto;

	a {
		color: $white;
	}
}


$triangleborder: 40px;
.triangle {
	width: $triangleborder * 2;
	height: ($triangleborder * 2) * 0.866;
	display: block;
	position: relative;
	margin: 0 auto;
	margin-top: 40px;

	&::before, &::after {
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
	}

	&::before {
		border-bottom: #{($triangleborder*2) * 0.866} solid rgba($red, 0.7);
		border-left: $triangleborder solid transparent;
		border-right: $triangleborder solid transparent;
		transform: scale(0.5) translateY(50%);
	}

	&::after {
		border-left: $triangleborder solid transparent;
		border-right: $triangleborder solid transparent;
		border-top: #{($triangleborder*2) * 0.866} solid rgba($blue, 0.7);
	}
}

.logo-wrap {
	a {
		text-decoration: none;
	}
}

h1.site-title {
	font-family: $body-font;
	font-size: 0.8em;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.3em;
	color: $white;
	padding-top: 15px;
	transition: all 0.3s ease;
}

