.content-invert {
	color: $blue;
	background: darken($purple, 4%);

	.post-content {
		background: darken($purple, 4%);
	}

	p {
		text-align: center;
	}

	p.contact {
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 1px;

		span {
			font-weight: 300;
			font-style: italic;
		}
	}

}

.interests {
    font-size: 1.1em;
    line-height: 1.6em;
    letter-spacing: 0.02em;
    list-style-type: disc;

    li {
    	padding-bottom: 0.6em;
    }
}

.content-alt {
	background: $blue;
	padding: 60px;

	h2,
	h3 {
		color: $white;
		border: none;
		margin: 0;
	}
}

.learning {
	color: $purple;
	text-align: center;

	li {
		display: inline-block;
		width: 25%;
		position: relative;

		svg {
			height: 80px;
			fill: $purple;
			opacity: 0.9;
		}

		&:first-child {
			padding-right: 25px;
		}

		.node {
			width: 100%;
			margin-top: -15px;
		}
		.swift {
			width: 80%;
		}
		.unity {
			width: 80%;
		}
	}
}

.clientlist {
	li {
		padding: 15px;
		svg {
			width: 100%;
		}

		.client-game,
		.client-argos,
		.client-ea,
		.client-bbc,
		.client-climax,
		.client-rareloop {
			height: 40px;
		}
	}
}


@media screen and (max-width: 500px) {
	.content-alt {
		padding: 30px;
		li {
			width: 70%;
			margin: 0;
			padding: 16px 0;

			svg {
				width: 100%;
				height: 40px;
			}
		}
	}
	.learning li:first-child {
		padding: 16px 0;
	}
}
