/**
 * Any non-modular, dirty, hacky things go in here.
 * Periodically remove anything in this file by
 * adding it properly into modular files.
 *
 * Shame is only temporary... maintainable code is for life (ish).
 *
 */

.comments {
	a {
		color: $red;
	}
	p {
		color: $purple;
	}
}

#disqus_thread {
	border-top: solid 1px rgba($purple, 0.2);
	margin-top: 40px;
	padding: 40px 0;
}
