	<section class="sidebar">
		<header class="logo-wrap">
			<span class="triangle-wrap">
				<span class="triangle"></span>
				<span class="site-title">TOM HEWITT</span>
			</span>
			<button class="hamburger">
				<span class="line"></span>
			</button>
		</header>
		<div class="nav-outer-wrap">
			<nav class="main-nav">
				<ul>
					<li>
						<a href="/">Home
							<span class="icon"><svg><use xlink:href="#nav1"></use></svg></span>
						</a>
					</li>
					<li>
						<a href="/about/">About
							<span class="icon"><svg><use xlink:href="#nav2"></use></svg></span>
						</a>
					</li>
					<li>
						<a href="/tag/design/">Design
							<span class="icon"><svg><use xlink:href="#nav3"></use></svg></span>
						</a>
					</li>
					<li>
						<a href="/tag/develop/">Develop
							<span class="icon"><svg><use xlink:href="#nav4"></use></svg></span>
						</a>
					</li>
				</ul>
			</nav>

			<nav class="social-nav">
				<ul>
					<li><a target="_blank" href="http://twitter.com/tomchewitt"><svg><use xlink:href="#twitter"></use></svg></a></li>
					<li><a target="_blank" href="https://github.com/tomchewitt"><svg><use xlink:href="#github"></use></svg></a></li>
					<li><a target="_blank" href="http://codepen.io/tomchewitt"><svg><use xlink:href="#codepen"></use></svg></a></li>
				</ul>
			</nav>
		</div>
	</section>
