/**
 * COLOURS
 * They are cool...
 */


// BASIC COLOURS
$white: white;
$black: black;

// MAIN COLOURS
$color1: #657783;
$color2: #084455;
$color3: #8AD1D3;
$color4: #4A8880;
$color5: #61C1C2;


// SPECIFIC COLOURS
