---
layout: default
---
	<article id="{{ page.uid }}">
		<div class="post-header" style="background-image: url({{ page.background }});">
			<div class="post-header-content">
				<h1 class="post-title">{{ page.title }}</h1>
				<div class="post-meta">
					{% if page.tags %}
						<div class="tag-wrap">
						{% for tag in page.tags %}
							<span class="tag">{{ tag }}</span>
						{% endfor %}
						</div>
					{% endif %}
					<span class="date">{{ page.date | date: "%d / %m / %Y" }}</span>
				</div>
			</div>
			<span class="gradient"></span>
		</div>

		<section class="post-content">
			{{ content }}
		</section>
	</article>

