---
layout: default
---

{% assign post = page %}
{% if post.tags.size > 0 %}
    {% for post_tag in post.tags %}
        {% for data_tag in site.data.tags %}
            {% if data_tag.slug == post_tag %}
                {% assign tag = data_tag %}
            {% endif %}
        {% endfor %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}
            	<span class="tag"><a href="{% if tag.name == 'Portfolio' %}/{% else %}/tag/{% endif %}{{ tag.slug }}/">{{ tag.name }}</a></span>
            {% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}

	<article id="{{ page.uid }}">
		<div class="post-header-wrap">
			<div class="post-header" style="background-image: url({% if page.background %}{{page.background}}{% else %}'/asset/img/hero.jpg'{% endif %});">
				<div class="post-header-content">
					<h1 class="post-title"><span class="main">{{ page.title }}</span>{% if page.subtitle %} <span class="sub">{{ page.subtitle }}</span>{% endif %}</h1>
					<div class="post-meta">
						{% if page.tags %}
							<div class="tag-wrap">
								{{ tags_content }}
							</div>
						{% endif %}
						<span class="date">{{ page.date | date: "%d / %m / %Y" }}</span>
					</div>
				</div>
			</div>
			<span class="gradient"></span>
		</div>

		<section class="post-content">
			{{ content }}
		</section>

		<section class="post-share">
			<a href="https://twitter.com/intent/tweet?text=Tom%20Does%20Dgital&via=tomchewitt" target="_blank">
				<p class="share-copy">Please share this post and join the discussion on Twitter.</p>
				<span class="icon"><svg><use xlink:href="#twitter"></use></svg></span>
			</a>
		</section>
	</article>

