---
layout: default
---

	<div class="post-header post-header-small" style="background-image: url('/asset/img/home-hero-2.jpg');">
		<div class="post-header-content">
			<h1 class="post-title">Tag: {{ page.tag }}</h1>
		</div>
		<span class="gradient"></span>
	</div>

	<section class="post-list">
	    {% if site.tags[page.tag] %}
	        {% for post in site.tags[page.tag] %}
	            {% include list-item.html %}
	        {% endfor %}
	    {% else %}
	        <p>Sorry, there are no posts for this tag.</p>
	    {% endif %}
	</section>
